#==================================================================================#
# EVENBET ACCOUNT                                                                  #
#==================================================================================#
GAME_FETCHER_BASE_URL=https://demotest.evenbetpoker.com
LOGIN=your_login
PASSWORD=your_password

#==================================================================================#
# CLOUDFLARE AI                                                                    #
#==================================================================================#
CLOUDFLARE_ACCOUNT_ID_1=************************************
CLOUDFLARE_KEY_1=***************************************************************